@import url("./index.css");

.container {
    padding: 0 5%;
    text-align: center;
    font-size: 24px;
}

.container h1{
    margin: 50px auto;
}

.productsList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    height: max-content;
}

@media only screen and (max-width: 800px) {
    .productsList{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
  }