:root{
  --light: #F3F3F3;
  --dark:  #0F0F0F;
  --primary:  #F6BA1E;
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: var(--light);
  color: var(--dark);
  padding-bottom: 50px;
}

button{
  cursor: pointer;
  transition: ease-in-out 80ms;
}

button:hover{
  transform: scale(1.05);
}

button:active{
  transform: scale(1);
}