@import url(./index.css);

.backdrop{
    position: fixed;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.45);
}

.minibag{
    width: 60%;
    height: 750px;
    color: black;
    margin: 10px auto;
    transform: scale(0.7);
    background-color: white;
    padding: 10px;
    border-radius: 10px;

}

.items{
    margin: 20px auto;
    height: 500px;
    overflow-y: scroll;
}

.showFullBag button{
    width: 40%;
    height: 50px;
    margin: 5%;
    font-size: x-large;
}
