@import url("./index.css");

.container{
    padding: 5% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    .container{
        flex-direction: column;
        justify-content: space-evenly;
    }
  }

.productInfo{
    display: flex;
    flex-direction: column;
    width: clamp(40%, 400px, 100%)
}

.productInfo h1{
    font-size: 3rem;
}

.productImages{
    text-align: center;
    width: clamp(60%, 400px, 100%)
}

.productImages img{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.addtoBag{
    margin: 20px auto;
    width: 80%;
    height: 40px;
    background-color: var(--light);
    color: var(--dark);
    font-weight: 800;
    font-size: 1.5rem;
    border: 2px solid var(--primary);
    cursor: pointer;
    transition: ease-in-out 150ms;
}
.addtoBag:hover{
    opacity: 1;
    background-color: var(--primary);
    border: 2px solid var(--dark);
}
.addtoBag:active{
    transform: scale(0.95);
}